* {
  box-sizing: border-box;
}
label {
  display: block;
  width: 28rem;
  margin-bottom: 1.75rem;
  position: relative;
}
input {
  height: 2.5rem;
  padding: 1rem 0.75rem;
  border: 1px solid hsla(0, 0%, 13%, 0.2);
  border-radius: 0.25rem;
  outline: none;
}
span {
  font-size: 0.875rem;
  letter-spacing: 0.01rem;
  color: #757575;
}
