body {
  font-size: 20px;
}

.container {
  width: 480px;
  margin: auto;
  padding: 15px 0;
  background: burlywood;
  display: flex;
  justify-content: space-around;
}

.box {
  width: 130px;
  min-height: 75px;
  background-color: teal;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
