body {
  font-size: 20px;
}

.container {
  width: 90%;
  margin: auto;
  padding: 15px 0;
  background: burlywood;
  display: flex;
  justify-content: flex-end;
}

.box {
  width: 130px;
  min-height: 75px;
  background-color: teal;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 15px;
}

.box-left {
  margin-right: auto;
}
