body {
  background-color: crimson;
}

@media screen and (min-width: 360px) {
  body {
    background-color: slateblue;
  }
}

@media screen and (min-width: 580px) {
  body {
    background-color: moccasin;
  }
}
