body {
  font-size: 20px;
}

.container {
  width: 480px;
  margin: auto;
  padding-top: 15px;
  background: burlywood;
  font-size: 0;
}

.box {
  width: 130px;
  height: 75px;
  margin: 0 15px 15px;
  line-height: 75px;
  background-color: teal;
  display: inline-block;
  text-align: center;
  color: #fff;
  font-size: 1rem;
}
